<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Create New Task</title>
</head>
<body>
<div th:replace="header"></div>
<div class="col-md-offset-2">
    <h2>Create New Task</h2>
</div>
<form class="form-horizontal" th:action="@{|/tasks/create/todos/${todo.id}|}" th:object="${task}" method="post">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">Name:</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" th:field="*{name}" id="name"/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="priority">Priority:</label>
        <div class="col-sm-6">
            <select class="form-control" name="priority" id="priority">
                <option th:each="priority : ${priorities}" th:value="${priority}" th:text="${priority.name()
                            .substring(0, 1) + priority.name().substring(1).toLowerCase()}"/>
            </select>
        </div>
    </div>
    <div class="col-sm-offset-2 col-sm-6">
        <input class="btn btn-info" type="submit" value="Create"/>
        <input class="btn btn" type="reset" value="Clear"/>
    </div>
    <input type="hidden" name="todoId" th:value="${todo.id}">
</form>
    <a th:href="@{|/todos/${todo.id}/tasks|}">Go to Task List</a>
</body>
</html>
